<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.pro.mybatis.mappers.Mapper">

    <select id="findAllBoard" resultType="project.pro.board.dto.BoardDto">
        SELECT *
        FROM board_tb;
    </select>

    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM board_tb;
    </select>

    <select id="selectBoard" resultType="project.pro.board.dto.BoardDto">
        SELECT *
        FROM board_tb
        order by uid DESC
        LIMIT 15 OFFSET #{abc};
    </select>

    <insert id="uploadBoard">
        INSERT INTO board_tb(title, text, category, writer)
        VALUES (#{title},#{text}, #{category}, #{writer});
    </insert>

    <update id="updateViews">
        UPDATE board_tb
        SET views = views + 1
        WHERE uid = #{uid}
    </update>

    <select id="selectDetail" resultType="project.pro.board.dto.BoardDto">
        SELECT uid, title, text, writer, regdate, category
        FROM board_tb
        WHERE uid = #{uid}
    </select>

    <update id="updateWrite">
        UPDATE board_tb
        SET    title = #{title}, text = #{text}, regdate = now(), category = #{category}
        WHERE uid = #{uid}
    </update>

    <delete id="deleteWrite">
        DELETE
        FROM board_tb
        WHERE uid = #{uid}
    </delete>

    <insert id="uploadUser">
        INSERT INTO member_tb(id, pw , email, name)
        VALUES (#{id}, #{pw}, #{email}, #{name});
    </insert>

    <select id="idCheck" resultType="int">
        SELECT COUNT(*)
        FROM member_tb
        WHERE id = #{id}
    </select>

    <select id="session" resultType="project.pro.user.dto.LoginDto">
        SELECT *
        FROM member_tb
        WHERE id = #{id}
    </select>

</mapper>