<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/login.css">
    <title>Login</title>
</head>
<body>
<header>
    <div class="div-top">
        <p>Home</p>
        <img alt="logo" class="img1" src="/image/mainLogo1.png">
        <p>Login</p>
    </div>
</header>
<main>
    <form class="main-form">
        <div class="div-id">
            <p class="p1">아이디</p>
            <input type="text" class="input1" >
        </div>
        <div class="div-item">
            <p class="p1">비밀번호</p>
            <input type="password" class="input1">
        </div>
        <div class="div-item">
            <p>소셜 로그인 자리</p>
        </div>
        <div class="div-btn">
            <button type="submit" class="btn">로그인</button>
            <button class="btn" formaction="/new">회원가입</button>
        </div>
    </form>
</main>
<footer>
    <div class="foot">

    </div>
</footer>
</body>
</html>