<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf/org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/new.css">
    <title>NEW</title>
</head>
<body>
<header>
    <div class="div-top">
        <p>Home</p>
        <img alt="logo" class="img1" src="/image/mainLogo1.png">
        <p>Login</p>
    </div>
</header>
<main>
    <form class="main-form" th:action="@{ex}" method="post" th:object="${userDto}">
        <div class="div-id">
            <p class="p1">아이디</p>
            <span th:errors="*{id}"></span>
            <input type="text" class="input1" name="id"  th:field="*{id}">
        </div>
        <div class="div-item">
            <p class="p1">비밀번호</p>
            <input type="password" class="input1" name="pw">
        </div>
        <div class="div-item">
            <p class="p1">email</p>
            <input type="email" class="input1" name="email">
        </div>
        <div class="div-item">
            <p class="p1">이름</p>
            <input type="text" class="input1" name="name">
        </div>
        <button class="btn" type="submit">회원가입</button>
    </form>
</main>
<footer>
    <div class="foot">

    </div>
</footer>
</body>
</html>