<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf/org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/new.css">
    <title>NEW</title>
</head>
<body>
<header>
    <div class="div-top">
        <p>Home</p>
        <img alt="logo" class="img1" src="/image/mainLogo1.png">
        <p>Login</p>
    </div>
</header>
<main>
    <form class="main-form" th:action="@{/join}" method="post" th:object="${userDto}" onsubmit="return test()">
        <div class="div-id">
            <p class="p1">아이디</p>
            <input type="text" class="input1" th:field="*{id}">
            <p class="span" th:errors="*{id}"></p>
        </div>
        <div class="div-item">
            <p class="p1">비밀번호</p>
            <input type="password" class="input1" name="pw" th:field="*{pw}">
            <p class="span" th:errors="*{pw}"></p>
        </div>
        <div class="div-item">
            <p class="p1">email</p>
            <input type="email" class="input1" name="email" th:field="*{email}">
            <p class="span" th:errors="*{email}"></p>
        </div>
        <div class="div-item">
            <p class="p1">이름</p>
            <input type="text" class="input1" name="name" th:field="*{name}">
            <p class="span" th:errors="*{name}"></p>
        </div>
        <button class="btn" type="submit">회원가입</button>
    </form>
</main>
<footer>
    <div class="foot">

    </div>
</footer>


<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script>
    const test = () =>{
        let idEl = document.querySelector("#id");
        let pwEl = document.querySelector("#pw");
        let emailEl = document.querySelector("#email");
        let nameEl = document.querySelector("#name");

        if(!validator.isLength(idEl.value,{min:4,max:20})&& !validator.matches(idEl.value,('a-z0-9'))){
            alert("아이디는 영어 소문자와 숫자만 사용하여 4~20자리여야 합니다.");
            return false;
        }

        if(!validator.isLength(pwEl.value,{min:8,max:16})&& !validator.matches(pwEl.value,('(?=.*[0-9])','(?=.*[a-zA-Z])','(?=.*\W)','(?=\S+$)'))){
            alert("비밀번호는 8~16자리수여야 합니다. 영문 대소문자, 숫자, 특수문자를 1개 이상 포함해야 합니다.")
            return false;
        }

        if(!validator

    }

</script>
</body>
</html>